<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <title>Add Route</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3B0D84;">
        <div>
            <ul class="navbar-nav" method="POST">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Profile') }}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('AddRoute') }}">Add Route</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('NewAccount') }}">Create Account</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Leaderboard') }}">Leaderboard</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end ml-auto">
            <ul class="navbar-nav" method="POST" action="/Logout">
                <li class="nav-item">
                    <button type="submit" onclick="window.location.href='/Logout'" class="btn btn-dark" style="background-color: #3B0D84; border-color: white;">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <span class="col-6 border rounded" style="padding: 20px; background-color: white;">
                <h2 style="text-align:center">Enter Data</h2>
                {% for message in get_flashed_messages() %}
                    <h6 style="color:red">{{ message }}</h6>
                {% endfor %}
                <form method="POST" action="/AddRoute" name="data" class="addroute">
                    <div>
                        <!--<div class="form-group">
                            <label for="formGroupExampleInput">Username</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="username" placeholder="Username">
                        </div>-->
                        <div class="form-group">
                            <label for="formGroupExampleInput">Date Ran</label>
                            <input type="text" class="form-control" id="date" name="date" placeholder="MM/DD/YY"> 
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Distance Ran</label>
                            <input type="text" class="form-control" id="distanceRan" name="distance" placeholder="Ex. 5.2 miles" required> 
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">About Route</label>
                            <input text="text" class="form-control" id="exampleFormControlTextarea1" name="routeInfo" placeholder="Optional"></input>
                        </div>
                        <p>On a scale of 1-5, how would you rate this route?</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radiob" id="inlineRadio1" value="1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radiob" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radiob" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radiob" id="inlineRadio4" value="4">
                            <label class="form-check-label" for="inlineRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radiob" id="inlineRadio4" value="5">
                            <label class="form-check-label" for="inlineRadio5">5</label>
                        </div>
                        <p></p>
                        <!--<p>Log in to finish submitting.</p>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <button type="submit" class="btn btn-dark" style="background-color: #3B0D84;">Submit</button>
                        <br>
                        <!--<input type="text" placeholder="Example input">
                        <span class="input-group-btn">
                        <button class="btn btn-primary">Download</button>
                    </span>-->
                    </div>
                </form>
            </span>
            <div class="col"></div>
        </div>
    </div>
    <br>
</body>